<!- HTML Form ->
<% if false %>

<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
  <form action=<%= users_path %> method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Username: <input type="text" name="user[:username]"><br>
    Email:    <input type="text" name="user[:email]"><br>
    Password: <input type="passowrd" name="user[:password]"><br>
    <input type="submit" value="Submit">
</body>
</html>

<!- Railsy Forms with #form_tag ->

<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
  <%= form_tag(users_path) do %>
    <%= label_tag 'username', 'Username: ' %>
    <%= text_field_tag 'username' %><br>
    <%= label_tag 'email', 'Email: ' %>
    <%= text_field_tag 'email' %><br>
    <%= label_tag 'password', 'Password: ' %>
    <%= password_field_tag 'password' %><br>
    <%= submit_tag "Submit" %>
  <% end %>
</body>
</html>

<% end %>

<!- Railsy-er Forms with #form_for ->

<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
  <%= form_for :user, url: users_path do |f| %>
    Username: <%= f.text_field :username, value: "Your user name here" %><br>
    Email:    <%= f.text_field :email, value: "Your email here"%><br>
    Password: <%= f.password_field :password %><br>
    <%= f.submit %>
  <% end %>
</body>
</html>